# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
*.key
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/*.js
public/*.jpg
public/*.png

# private
server-config.ts
server-config.js